<div class="hero container">
	<div class="row">
		<div class="col-10">
			<h1>Add an Impact</h1>
			<%= simple_form_for @impact do |f| %>
			    <%= f.input :name %>
			    <%= f.input :item do %>
			    	<%= f.select :item, Item.all.map { |r| [r.name, r.value] } %>
		    	<% end %>
			    <%= f.submit 'Create', class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>